<template>
  <div class="file-tree-root pt-3">
    <b-button variant="primary" block @click="refreshDirectory" class="mb-3">Refresh</b-button>
    <div class="list-wrapper">
      <file-tree-item v-for="node in nodes" :key="node.id" :node="node" />
    </div>
  </div>
</template>

<script>
import FileTreeItem from './FileTree/FileTreeItem.vue'
import walkdir from 'walkdir'
import uuid from 'uuid/v4'
// import path from 'path'

let baseID = 1

export default {
  name: 'file-tree',
  components: {
    FileTreeItem
  },
  data() {
    return {
      newTodoText: '',
      nodes: []
    }
  },
  methods: {
    addTodo() {
      const trimmedText = this.newTodoText.trim()
      if (trimmedText) {
        this.todos.push({
          id: 4,
          text: trimmedText
        })
        this.newTodoText = ''
      }
    },
    removeTodo(idToRemove) {
      this.todos = this.todos.filter(todo => {
        return todo.id !== idToRemove
      })
    },
    refreshDirectory() {
      this.nodes = []
      walkdir('src', {
        max_depth: 1
      })
        .on('path', (fn, stat, depth) => {
          let childNodes = []
          console.log('PARENT DEPTH for ' + fn + ': ' + depth)
          // TODO: Reimplement child nodes again and use that to pad inwards.
          if (stat.isDirectory()) {
            this.nodes = walkDirectory(fn, this.nodes, baseID, depth)
            console.log(this.nodes)
          }
          this.nodes.push({
            id: uuid(),
            text: fn.replace(/^.*[\\/]/, ''),
            children: childNodes,
            depth: depth,
            stats: stat
          })
          baseID++
          // if (stat.isDirectory() === true) {
          //   console.log('DIRECTORY')
          //   walkdir(fn, {}).on('path', function(fn2, stat, depth) {
          //     console.log('CHILD DEPTH for ' + fn2 + ': ' + depth)
          //     childNodes.push({
          //       id: baseID,
          //       text: fn2.replace(/^.*[\\/]/, ''),
          //       children: []
          //     })
          //     baseID++
          //   })
          //   baseID++
          //   this.nodes.push({
          //     id: baseID,
          //     text: fn.replace(/^.*[\\/]/, ''),
          //     children: childNodes
          //   })
          //   baseID++
          //   console.log(childNodes)
          // } else {
          //   this.nodes.push({
          //     id: baseID,
          //     text: fn.replace(/^.*[\\/]/, ''),
          //     children: []
          //   })
          //   baseID++
          // }
        })
        .on('error', (fn, err) => {
          console.error(`!!!! ${fn} ${err}`)
        })
      console.log(this.nodes)
    }
  },
  beforeMount() {
    this.refreshDirectory()
  }
}

var walkDirectory = function(dir, fileList, baseID, baseDepth) {
  fileList = fileList || []
  walkdir(dir, { max_depth: 1 }).on('path', (fn, stat, depth) => {
    fileList.push({
      id: uuid(),
      text: fn.replace(/^.*[\\/]/, ''),
      children: [],
      depth: baseDepth + depth,
      stats: stat
    })
    if (stat.isDirectory()) {
      console.log('DIRECTORY NAME ' + fn)
      fileList = walkDirectory(fn, fileList, baseID, baseDepth + depth)
    }
  })
  return fileList
}
</script>

<style lang="scss">
.file-tree-root {
  background: #123456;
  height: calc(100vh - 56px);
  margin-left: -15px;
  padding: 0 1.5rem 0 1.5rem;
  color: whitesmoke;
}

.list-wrapper > table {
  margin-bottom: 0;

  padding-left: 3.25rem;
  height: auto;
  max-height: calc(100vh - 110px - 1rem);
  width: 100%;
}

.list-wrapper {
  max-height: calc(100vh - 110px - 1rem);
  margin-left: -3.1rem;
  margin-right: -1.5rem;
  overflow-y: auto;
  position: relative;
  padding-bottom: 1rem;
}

.fa-ul {
  margin-left: 1.6rem;
}
</style>
