<template>
  <div class="py-3 h-100">
    <b-form>
      <b-form-group>
        <b-form-input placeholder="Post Title"></b-form-input>
      </b-form-group>
    </b-form>
    <editor :options="editorOptions" height="80%" />
  </div>
</template>

<script>
import 'tui-editor/dist/tui-editor.css'
import 'tui-editor/dist/tui-editor-contents.css'
import 'codemirror/lib/codemirror.css'
import Editor from '@toast-ui/vue-editor/src/Editor.vue'

export default {
  components: {
    editor: Editor
  },
  data() {
    return {
      editorText: 'This is initialValue.',
      editorOptions: {
        minHeight: '420px'
      },
      editorHtml: '',
      editorVisible: true
    }
  }
}
</script>
