<template>
  <div v-bind:class="nodeType" v-bind:style="{ paddingLeft: calcPadding + 'rem' }">
    <span v-if="node.stats.isDirectory()" class="">
      <font-awesome-icon icon="folder" /></span>
    <span v-else class="">
      <font-awesome-icon icon="file" /></span> {{ node.text }}
    <ul v-if="node.children.length > 0" class="fa-ul">
      <li v-for="child in node.children" :key="child.id" :node="child">
        <span v-if="child.children.length > 0" class="fa-li">
          <font-awesome-icon icon="folder" /></span>
        <span v-else class="fa-li">
          <font-awesome-icon icon="file" /></span> {{ child.text }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'file-tree-item',
  props: {
    node: {
      type: Object,
      required: true
    }
  },
  computed: {
    nodeType: function() {
      return {
        file: this.node.stats.isFile(),
        directory: this.node.stats.isDirectory()
      }
    },
    calcPadding: function() {
      return this.node.depth * 1.25 + 2
    }
  }
}
</script>

<style lang="scss" scoped>
$offset: 0.25rem;

.file,
.directory {
  padding-left: 3.25rem;
  padding-right: 0.5rem;
  white-space: nowrap;
  min-width: 100%;
  width: fit-content;
}

.file:hover {
  background: darkblue;
}
.directory:hover {
  background: black;
}
</style>
