<template>
  <div id="app">
    <b-navbar toggleable="sm" type="light" variant="light" v-bind:sticky="true">
      <b-navbar-brand href="#">posthugo</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="#">Posts</b-nav-item>
          <b-nav-item href="#">Media</b-nav-item>
          <b-nav-item href="#">Files</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-container fluid class="w-100">
      <b-row>
        <b-col cols="4" lg="3">
          <file-tree></file-tree>
        </b-col>
        <b-col>
          <transition>
            <router-view></router-view>
          </transition>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import FileTree from './components/FileTree.vue'

export default {
  components: {
    FileTree
  },
  name: 'posthugo'
}
</script>

<style>
</style>
